<div class="container">
    <div class="header_section_top">
        <div class="row">
            <div class="col-sm-12">
                <div class="custom_menu">
                    <ul>
                        <li>
                            <a href="admin">Home</a>
                            <a class="text-danger" href="authentication/logout">Logout</a>
                            <a href="product">Products</a>
                            <a href="Category">Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>